@using Web.Core.Dto;
@using Web.Core.Util;
@model List<OrderDto>
@{
    ViewBag.Title = "Bài báo";
}
<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/fonts/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/css/util.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Plugins/css/main.css">
<!--===============================================================================================-->
<section class="bg0 p-t-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="p-b-20">
                    <!-- Entertainment -->
                    <div class="tab01 p-b-20">
                        <div class="tab01-head how2 how2-cl1 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <!-- Brand tab -->
                            <h3 class="f1-m-2 cl12 tab01-title">
                                Tin nóng
                            </h3>


                        </div>


                        <div class="tab-content p-t-35">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="tab1-1" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="https://vnexpress.net/osaka-thua-swiatek-vi-khong-biet-co-match-point-4752188.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="https://i1-thethao.vnecdn.net/2024/05/30/6f52d-1717035345-1717035350-3878-1717035668.jpg?w=680&h=408&q=100&dpr=2&fit=crop&s=n3aSPV7022hVTl10K6VqLw" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="https://vnexpress.net/osaka-thua-swiatek-vi-khong-biet-co-match-point-4752188.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        Osaka thua Swiatek vì không biết có match-point
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        Tin nóng
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        31/5
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="https://vnexpress.net/alcaraz-sinner-vao-vong-ba-roland-garros-4752187.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="https://i1-thethao.vnecdn.net/2024/05/30/2155177814-1717031913-4035-1717032100.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=2SQRLbPEjflOqP4fyO298g" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="https://vnexpress.net/alcaraz-sinner-vao-vong-ba-roland-garros-4752187.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Alcaraz, Sinner vào vòng ba Roland Garros
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Tin nóng
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        30/5
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="https://vnexpress.net/djokovic-bi-che-gieu-khi-nga-tren-san-4751784.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="https://i1-thethao.vnecdn.net/2024/05/29/84ea21fe7b58a41d2add2f7d162114-4176-2499-1716950183.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=TNdCGBJcxred3ifwbFg9tQ" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="https://vnexpress.net/djokovic-bi-che-gieu-khi-nga-tren-san-4751784.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Djokovic bị chế giễu khi ngã trên sân
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Tin nóng
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        31/5
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="https://vnexpress.net/nadal-duoc-danh-gia-con-du-suc-canh-tranh-o-atp-tour-4751765.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="https://i1-thethao.vnecdn.net/2024/05/29/8576ae5142fe4124ba71221fbcda-1-5139-6475-1716949013.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=bOhwzFjRNEvwWU_BjPuSXg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="https://vnexpress.net/nadal-duoc-danh-gia-con-du-suc-canh-tranh-o-atp-tour-4751765.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Nadal được đánh giá còn đủ sức cạnh tranh ở ATP Tour
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Tin nóng
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        31/5
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    <!--  -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Phổ biến
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    1
                                </div>

                                <a href="https://vnexpress.net/djokovic-thang-nhoc-o-vong-dau-roland-garros-4751750.html" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Djokovic thắng nhọc ở vòng đầu Roland Garros
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    2
                                </div>

                                <a href="https://vnexpress.net/nadal-vui-vi-duoc-djokovic-du-khan-4751585.html" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Nadal vui vì được Djokovic dự khán
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    3
                                </div>

                                <a href="https://vnexpress.net/nadal-da-het-thoi-4751428.html" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Nadal đã hết thời?
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    4
                                </div>

                                <a href="https://vnexpress.net/nadal-neu-day-la-lan-cuoi-thi-cung-rat-tuyet-4751257.html" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Nadal: 'Nếu đây là lần cuối thì cũng rất tuyệt'
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0">
                                    5
                                </div>

                                <a href="https://vnexpress.net/nadal-lan-dau-bi-loai-ngay-vong-mot-roland-garros-4751255.html" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Nadal lần đầu bị loại ngay vòng một Roland Garros
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--  -->


                </div>
            </div>
        </div>
    </div>
</section>




<!-- Latest -->
<section class="bg0 p-t-60 p-b-35">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-20">
                <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
                    <h3 class="f1-m-2 cl3 tab01-title">
                        Tin cũ hơn
                    </h3>
                </div>

                <div class="row p-t-35">
                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="https://vnexpress.net/djokovic-do-guc-vi-bi-chai-nuoc-roi-vao-dau-4744759.html" class="wrap-pic-w hov1 trans-03">
                                <img src="https://i1-thethao.vnecdn.net/2024/05/11/2Twitter1-1715391958-9594-1715392303.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=6ikUSuL8boDIxFY6bj75mA" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="https://i1-thethao.vnecdn.net/2024/05/11/2Twitter1-1715391958-9594-1715392303.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=6ikUSuL8boDIxFY6bj75mA" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        Djokovic đổ gục vì bị chai nước rơi vào đầu
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        Thể thao
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        11/5
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="https://vnexpress.net/medvedev-nadal-va-djokovic-khac-che-nhau-4744372.html" class="wrap-pic-w hov1 trans-03">
                                <img src="https://i1-thethao.vnecdn.net/2024/05/10/22-1715310779-3282-1715310910.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=v6BgqJclX_Mjteldptgu1A" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="https://i1-thethao.vnecdn.net/2024/05/10/22-1715310779-3282-1715310910.jpg?w=240&h=144&q=100&dpr=2&fit=crop&s=v6BgqJclX_Mjteldptgu1A" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        Medvedev: 'Nadal và Djokovic khắc chế nhau'
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        Thể thao
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        11/5
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="https://vnexpress.net/nadal-thang-nguoc-vong-mot-rome-masters-4744326.html" class="wrap-pic-w hov1 trans-03">
                                <img src="https://i1-thethao.vnecdn.net/2024/05/10/2-7894-1715308619.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=lu2u02G9hK_BrujDBeC80g" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="https://vnexpress.net/nadal-thang-nguoc-vong-mot-rome-masters-4744326.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        Nadal thắng ngược vòng một Rome Masters
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        Thể thao
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        11/5
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="https://vnexpress.net/cho-dai-chien-djokovic-nadal-o-rome-masters-4743923.html" class="wrap-pic-w hov1 trans-03">
                                <img src="https://i1-thethao.vnecdn.net/2024/05/09/nadal-rome-2024-tuesday-practi-6943-2271-1715226059.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=HKfhRNND7YWyMH3cb-VdXQ" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="https://vnexpress.net/cho-dai-chien-djokovic-nadal-o-rome-masters-4743923.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        Chờ đại chiến Djokovic - Nadal ở Rome Masters
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        Thể thao
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        11/5
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="https://vnexpress.net/djokovic-khong-con-am-anh-ve-danh-hieu-4743422.html" class="wrap-pic-w hov1 trans-03">
                                <img src="https://i1-thethao.vnecdn.net/2024/05/08/1-1660-1715136999.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=PFH4ATR2wQ45UgIN_-006Q" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="https://vnexpress.net/djokovic-khong-con-am-anh-ve-danh-hieu-4743422.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        Djokovic không còn ám ảnh về danh hiệu
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        Thể thao
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        11/5
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="https://vnexpress.net/toni-nadal-djokovic-san-sang-tra-gia-cho-vinh-quang-4743380.html" class="wrap-pic-w hov1 trans-03">
                                <img src="https://i1-thethao.vnecdn.net/2024/05/08/1-7642-1715134084.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=awvR9uy0eJyMa-8-jvlS8Q" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="https://vnexpress.net/toni-nadal-djokovic-san-sang-tra-gia-cho-vinh-quang-4743380.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        Toni Nadal: 'Djokovic sẵn sàng trả giá cho vinh quang'
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        Thể thao
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        11/5
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    <!--  -->
                    <!--  -->
                    <div class="flex-c-s p-t-8">
                        <a href="#">
                            <img class="max-w-full" src="~/Resources/Newsimg/10.png" alt="IMG">
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>




<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <span class="fas fa-angle-up"></span>
    </span>
</div>

<!--===============================================================================================-->
<script src="~/Plugins/js/jquery.min.js"></script>
@*<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@
<!--===============================================================================================-->
<script src="~/Plugins/animsition/js/animsition.min.js"></script>
@*<script src="vendor/animsition/js/animsition.min.js"></script>*@
<!--===============================================================================================-->
<script src="~/Plugins/js/popper.min.js"></script>
<script src="~/Plugins/js/bootstrap.min.js"></script>
@*<script src="vendor/bootstrap/js/popper.js"></script>*@
@*<script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
<!--===============================================================================================-->
<script src="js/main.js"></script>
