<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">CHỨC NĂNG</li>
            <li id="menu_dashboard">
                <a href="/Administrator/Dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>
                        Tổng quan
                    </span>
                </a>
            </li>
            <li id="menu_order">
                <a href="/Administrator/Order">
                    <i class="fa fa-cubes"></i>
                    <span>
                        Đơn hàng
                    </span>
                </a>
            </li>
            <li id="menu_voucher">
                <a href="/Administrator/Voucher">
                    <i class="fa fa-percent"></i>
                    <span>
                        Mã giảm giá
                    </span>
                </a>
            </li>
            <li class="active treeview menu-open">
                <a>
                    <i class="fa fa-align-justify"></i> <span>Sản phẩm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="menu_product">
                        <a href="/Administrator/Product">
                            <i class="fa fa-circle-o"></i>
                            Danh sách sản phẩm
                        </a>
                    </li>
                    <li id="menu_menu">
                        <a href="/Administrator/Menu">
                            <i class="fa fa-circle-o"></i>
                            Danh mục sản phẩm
                        </a>
                    </li>
                    <li id="menu_importhistory">
                        <a href="/Administrator/ImportHistory">
                            <i class="fa fa-circle-o"></i>
                            Lịch sử nhập hàng
                        </a>
                    </li>
                </ul>
            </li>
            <li id="menu_gallery">
                <a href="/Administrator/Gallery">
                    <i class="fa fa-image"></i> <span>Gallery</span>
                </a>
            </li>
            @*<li id="menu_article">
            <a href="/Administrator/Article ">
                <i class="fa fa-file-text-o"></i> <span>Bài viết</span>
            </a>
        </li>*@
            <li class="active treeview menu-open">
                <a>
                    <i class="fa fa-bar-chart"></i> <span>Báo cáo thống kê</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="menu_report">
                        <a href="/Administrator/Report">
                            <i class="fa fa-circle-o"></i>
                            Báo cáo tổng hợp
                        </a>
                    </li>
                    <li id="menu_revenue">
                        <a href="/Administrator/Report/GetRevenueReport">
                            <i class="fa fa-circle-o"></i>
                            Báo cáo doanh thu
                        </a>
                    </li>
                </ul>
            </li>
            <li class="header">CẤU HÌNH</li>
            <li id="menu_website">
                <a href="/Administrator/Website">
                    <i class="fa fa-globe"></i> <span>Thông tin Website</span>
                </a>
            </li>
            <li id="menu_user">
                <a href="/Administrator/User">
                    <i class="fa fa-users"></i> <span>Tài khoản quản trị</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
